covariance model: ensemble
members from template:
  template:
    datetime: "{{ atmosphere_background_time_iso }}"
    filetype: fms restart
    state variables: {{analysis_variables}}
    field io names:
      eastward_wind: {{eastward_wind}}
      northward_wind: {{northward_wind}}
      air_temperature: {{air_temperature}}
      air_pressure_thickness: {{air_pressure_thickness}}
      water_vapor_mixing_ratio_wrt_moist_air: {{water_vapor_mixing_ratio_wrt_moist_air}}
      cloud_liquid_ice: {{cloud_liquid_ice}}
      cloud_liquid_water: {{cloud_liquid_water}}
      ozone_mass_mixing_ratio: {{ozone_mass_mixing_ratio}}
      geopotential_height_times_gravity_at_surface: {{geopotential_height_times_gravity_at_surface}}
      skin_temperature_at_surface: {{skin_temperature_at_surface}}
      soilt: {{soilt}}
      soilm: {{soilm}}
      eastward_wind_at_surface: {{eastward_wind_at_surface}}
      northward_wind_at_surface: {{northward_wind_at_surface}}
    datapath: {{ atmosphere_background_ensemble_path }}
    #filename is datetime templated: true
    filename_core: {{atmosphere_background_time_prefix}}{{filename_core}}
    filename_trcr: {{atmosphere_background_time_prefix}}{{filename_trcr}}
    filename_sfcd: {{atmosphere_background_time_prefix}}{{filename_sfcd}}
    filename_sfcw: {{atmosphere_background_time_prefix}}{{filename_sfcw}}
    filename_cplr: {{atmosphere_background_time_prefix}}{{filename_cplr}}
  pattern: "%mem%"
  nmembers: {{atmosphere_number_ensemble_members}}
  zero padding: 3
localization:
  localization method: SABER
  saber central block:
    saber block name: MGBF_covariance
    mgbf namelist file: {{mgbf_nml}}
  saber outer blocks:
  -  saber block name: interpolation
     inner geometry:
       function space: StructuredColumns
       grid:
         type : "regional"
         nx : {{mgbf_nx}}
         ny : {{mgbf_ny}}
         dx : {{mgbf_dx}}
         dy : {{mgbf_dy}}
         lonlat(centre) : {{mgbf_lonlat}}
         projection :
           type       : lambert_conformal_conic
           latitude0  : {{mgbf_lat0}}
           longitude0 : {{mgbf_lon0}}
           units: "degrees"
         y_numbering : 1
       partitioner: checkerboard
       halo: 1
     forward interpolator:
       local interpolator type: oops unstructured grid interpolator
     inverse interpolator:
       local nterpolator type: oops unstructured grid interpolator
