filetype: fms restart
datapath: ./
prefix: analysis_jedi
frequency: {{atmosphere_forecast_timestep}}

state variables: {{analysis_variables}}
field io names:
  eastward_wind: {{eastward_wind}}
  northward_wind: {{northward_wind}}
  air_temperature: {{air_temperature}}
  air_pressure_at_surface: {{air_pressure_at_surface}}
  water_vapor_mixing_ratio_wrt_moist_air: {{water_vapor_mixing_ratio_wrt_moist_air}}
  ozone_mass_mixing_ratio: {{ozone_mass_mixing_ratio}}
