datetime: '{{ atmosphere_background_time_iso }}'
members from template:
  template:
    datetime: '{{ atmosphere_background_time_iso }}'
    filetype: fms restart
    state variables:
    - eastward_wind
    - northward_wind
    - air_temperature
    - air_pressure_thickness
    - water_vapor_mixing_ratio_wrt_moist_air
    - cloud_liquid_ice
    - cloud_liquid_water
    - ozone_mass_mixing_ratio
    - geopotential_height_times_gravity_at_surface
    - f10m
    - slmsk
    - sheleg
    - skin_temperature_at_surface
    - vtype
    - stype
    - vfrac
    - soilt
    - soilm
    - eastward_wind_at_surface
    - northward_wind_at_surface
    - air_pressure_at_surface
    - equivalent_reflectivity_factor
    field io names:
      eastward_wind: ua
      northward_wind: va
      air_temperature: T
      air_pressure_thickness: DELP
      water_vapor_mixing_ratio_wrt_moist_air: sphum
      cloud_liquid_ice: ice_wat
      cloud_liquid_water: liq_wat
      ozone_mass_mixing_ratio: o3mr
      geopotential_height_times_gravity_at_surface: phis
      skin_temperature_at_surface: tsfc
      soilt: tslb
      soilm: smois
      eastward_wind_at_surface: u_srf
      northward_wind_at_surface: v_srf
      equivalent_reflectivity_factor: ref_f3d
    datapath: {{ atmosphere_background_ensemble_path }}
    filename_core: 20240527.000000.fv_core.res.tile1.nc
    filename_trcr: 20240527.000000.fv_tracer.res.tile1.nc
    filename_phys: 20240527.000000.phy_data_prepdbz.nc
    filename_sfcd: 20240527.000000.sfc_data.nc
    filename_sfcw: 20240527.000000.fv_srf_wnd.res.tile1.nc
    filename_cplr: 20240527.000000.coupler.res
  pattern: "{{ atmosphere_ensemble_pattern | default("%mem%", true) }}"
  nmembers: {{ atmosphere_number_ensemble_members }}
  zero padding: 3
