fms initialization:
  namelist filename: fmsmpp.nml
  field table filename: field_table
namelist filename: input_lam_C775_NP16X10.nml
akbk: fv3_akbk
npz: {{atmosphere_npz_ges}}
layout: [{{atmosphere_layout_x}}, {{atmosphere_layout_y}}]
io_layout: [{{atmosphere_io_layout_x}}, {{atmosphere_io_layout_y}}]
ntiles: {{atmosphere_ntiles}}
