covariance model: hybrid
components:
- covariance:
    covariance model: SABER
    saber central block:
      saber block name: gsi static covariance
      read:
        gsi akbk: fv3_akbk
        gsi error covariance file: berror_stats
        gsi berror namelist file: gsiparm_regional.anl
        processor layout x direction: {{atmosphere_layout_gsib_x}}
        processor layout y direction: {{atmosphere_layout_gsib_y}}
        debugging deep bypass gsi B error: false
        debugging mode: false
        regional mode: true
    saber outer blocks:
    - saber block name: interpolation
      inner geometry:
        function space: StructuredColumns
        custom grid matching gsi:
          type: rotated_lonlat
          lats: {{gsibec_lats}}
          lons: {{gsibec_lons}}
          lat_start: {{lat_start}}
          lat_end: {{lat_end}}
          lon_start: {{lon_start}}
          lon_end: {{lon_end}}
          north_pole_lat: {{north_pole_lat}}
          north_pole_lon: {{north_pole_lon}}
        custom partitioner matching gsi:
          bands: {{gsi_bands}}
        halo: 1
      forward interpolator:
        local interpolator type: oops unstructured grid interpolator
      inverse interpolator:
        local interpolator type: oops unstructured grid interpolator
      state variables to inverse: {{state_variables_to_inverse}}
    linear variable change:
      linear variable change name: Control2Analysis
      input variables: {{control_variables}}
      output variables: {{analysis_variables}}
  weight:
    value: 0.15

- covariance:
    covariance model: ensemble
    members from template:
      template:
        datetime: "{{ atmosphere_background_time_iso }}"
        filetype: fms restart
        state variables: {{analysis_variables}}
        field io names:
          eastward_wind: {{eastward_wind}}
          northward_wind: {{northward_wind}}
          air_temperature: {{air_temperature}}
          air_pressure_thickness: {{air_pressure_thickness}}
          water_vapor_mixing_ratio_wrt_moist_air: {{water_vapor_mixing_ratio_wrt_moist_air}}
          cloud_liquid_ice: {{cloud_liquid_ice}}
          cloud_liquid_water: {{cloud_liquid_water}}
          ozone_mass_mixing_ratio: {{ozone_mass_mixing_ratio}}
          geopotential_height_times_gravity_at_surface: {{geopotential_height_times_gravity_at_surface}}
          skin_temperature_at_surface: {{skin_temperature_at_surface}}
          soilt: {{soilt}}
          soilm: {{soilm}}
          eastward_wind_at_surface: {{eastward_wind_at_surface}}
          northward_wind_at_surface: {{northward_wind_at_surface}}
          rain_water: {{rain_water}}
          snow_water: {{snow_water}}
          graupel: {{graupel}}
          upward_air_velocity: {{upward_air_velocity}}
          equivalent_reflectivity_factor: {{equivalent_reflectivity_factor}}
        datapath: {{ atmosphere_background_ensemble_path }}
        filename_core: {{atmosphere_background_time_prefix}}{{filename_core}}
        filename_trcr: {{atmosphere_background_time_prefix}}{{filename_trcr}}
        filename_phys: {{atmosphere_background_time_prefix}}{{filename_phys}}
        filename_sfcd: {{atmosphere_background_time_prefix}}{{filename_sfcd}}
        filename_sfcw: {{atmosphere_background_time_prefix}}{{filename_sfcw}}
        filename_cplr: {{atmosphere_background_time_prefix}}{{filename_cplr}}
      pattern: "%mem%"
      nmembers: 30
      zero padding: 3
    localization:
      localization method: SABER
      saber central block:
        saber block name: BUMP_NICAS
        active variables: {{analysis_variables}}
        read:
          io:
            files prefix: {{atmosphere_fv3jedi_files_path}}/{{bumploc_path}}/{{bumploc_prefix}}
          drivers:
             multivariate strategy: duplicated
             read local nicas: true
          model:
             level for 2d variables: last
  weight:
    value: 0.85
