     - obs space:
         name: gnss_ztd_zenithTotalDelay
         distribution:
           name: "{{distribution}}"
           halo size: 500e3
         obsdatain:
           engine:
             type: H5File
             obsfile: "data/obs/ioda_gnss_ztd.nc"
             missing file action: "warn"
         obsdataout:
           empty obs space action: "{{empty_obs_space_action}}"
           write multiple files: {{write_multiple_files | default(false) }}
           engine:
             type: H5File
             obsfile: jdiag_gnss_ztd.nc
             allow overwrite: true
         io pool:
           max pool size: {{ max_pool_size | default(1) }}
         simulated variables: [zenithTotalDelay]
         observed variables: [zenithTotalDelay]

       obs operator:
         name: GroundgnssMetOffice
       linear obs operator:
         name: GroundgnssMetOffice
         observation alias file: obsop_name_map.yaml

       obs error:
         covariance model: diagonal

       obs localizations:
         - localization method: Horizontal Gaspari-Cohn
           lengthscale: 200e3

       obs filters:
         # ------------------
         # zenithTotalDelay
         # ------------------
         # Accept, reject, or passivate (monitor)
         - filter: Perform Action
           udescriptor: "iuse_check"
           filter variables:
           - name: zenithTotalDelay
           action:
             name: {{iuse_gnss_zenithTotalDelay | default("passivate", true)}} # accept, reject, passivate

         # Pre-online regional domain check (latitude/longitude)
         - filter: Domain Check
           udescriptor: "pre-online_domain_check"
           where:
             - variable:
                 name: MetaData/latitude
               minvalue:  19.0
               maxvalue:  62.0
             - variable:
                 name: MetaData/longitude
               minvalue: 213.0
               maxvalue: 312.0
           action:
              name: reduce obs space

         # Online regional domain check (domain mask)
         - filter: Domain Check
           udescriptor: "online_domain_check"
           where:
             - variable:
                 name: GeoVaLs/observable_domain_mask
               minvalue: 0.0
               maxvalue: 0.5  # 0=interior, 1=outside of domain

         # Reject all obs with QualityMarker > 10
         - filter: Bounds Check
           udescriptor: "quality_marker_check"
           filter variables:
           - name: zenithTotalDelay
           test variables:
           - name: QualityMarker/zenithTotalDelay
           maxvalue: 10

         # Initial error assignment
         - filter: Perform Action
           udescriptor: "initial_error_assignment"
           filter variables:
           - name: zenithTotalDelay
           action:
             name: assign error
             error parameter: 0.01

         # Terrain Height Discrepancy Check
         - filter: Difference Check
           udescriptor: "terrain_height_discrepancy_check"
           reference: MetaData/stationElevation
           value: GeoVaLs/height_above_mean_sea_level_at_surface
           threshold: 300    # (m)

         # Gross Error Check
         - filter: Background Check
           udescriptor: "gross_error_check"
           threshold: 6

#        - filter: RejectList
#          where:
#          - variable: MetaData/productName
#            is_in: ["ROBG"]
#            is_in: ["LPT_"]
#            is_in: ["ROBG","LPT_"]
