- ninner: {{ninner}}
  gradient norm reduction: {{gradient_norm_reduction}}
  geometry:
      nml_file: ./namelist.atmosphere
      streams_file: ./streams.atmosphere
      deallocate non-da fields: true
      interpolation type: unstructured
